@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
:root{
    --back-grey:rgba(128, 128, 128, 0.4);
    --white-font-color:white;
    color:var(--white-font-color);    
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
}

body{
    display: flex;
    margin:0;
    padding: 0;
    height: 100vh;
}

.left-container{
    position: relative;
    flex:0.9;
}


.right-container{
    background-color: #04090d;
    flex:1.5;
    display:flex;
    flex-direction: column;
}
.car-img{
    height:100%;  
    width: 100%;
}

.title{
    position: absolute;
    top: 78%;
    left:30%;
    color:var(--white-font-color);
    font-size: 3.5vw;
    background-color: rgb(14, 13, 13);
    padding: 5% 20%;
    transform: skewX(-10deg);
    box-shadow: 10px 10px 50px  red ;
    letter-spacing: 10px;
}

.heading{
    color: var(--white-font-color);
    padding: 2% 5%;
    font-size: 2.2vw;
    text-align: right;
}

.form-container{
    align-self: center;
    margin-top:10%;
    padding: 2% 5%;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
}

.names, .contact-details, .password-details{
    display: flex;
    margin: 10px 0px;
    gap:80px;
}


.fld-stack{
    display: flex;
    flex-direction: column;
    margin: 1.5vh;
}

input{
    font-size: larger;
    padding-left: 10%;
    background-color: #04090d;
    color:var(--white-font-color);
    border:none;
    border-bottom: solid var(--white-font-color);
    border-radius: 4px;
    transform: skewX(-10deg);
    background: linear-gradient(to left, #04090d 50%, rgba(255, 0, 0, 0.714) 60%) right;
    background-size: 200% 100%;
    transition:all 1.7s ease;
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
    width: 100%;
}
input:focus{
    background-position: left;
    transition:all 1.5s ease; 
}

label {
    color:var(--white-font-color);
    transform: translate(.75vw, -2.5vh);
    transition: all 0.2s ease-out;
  }

  input:focus + label {
    color: var(--white-font-color);
    transform: translate(0, -5.5vh);
    
  }

  input:focus + label,
  input:not(:placeholder-shown) + label  {
    color: var(--white-font-color);
    transform: translate(0, -5.5vh);
  }


.submit-btn{
    padding: 5px 10px;
    font-size: 2.5vw;
    color:var(--white-font-color);
    border:none;
    transform: skewX(-10deg);
    width:50%;
    align-self:flex-end;
    margin-top:10%;
    margin-right:-30%;
    background: linear-gradient(to left, #04090d 50%, red 60%) right;
    background-size: 200% 100%;
    transition:all 1.7s ease;   
    font-family: 'Bangers', cursive;
}


.submit-btn:hover{
    background-position: left;
    transition:all 1.5s ease; 
}

.have-account{
    color: var(--white-font-color);
    align-self: flex-end;
    padding-right: 12vw;
    font-size: 1.2vw;
    letter-spacing: 1px;
    margin-top:12px;
}

.login-link{
    text-decoration: none;
    color:white;
    font-style: italic;
}


#email:invalid{
    border: solid red;
}

.image-credit{
    margin-top:-3%;
    padding-left:10% ;
    color: black;
}